@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:0;
}
html{
    font-size:62.5%;
}
body{
    line-height:2;
    font-size:1.5rem;
    font-family:'Roboto Mono', monospace;
}
h1{
    font-family:'Chelsea Market', cursive;
}

#nav1 a{
    text-align:center;
    text-decoration:none;
    color:white;
}
.link1{
    display:inline-block;
    width:15%;
    margin:5% 8%;
    background: #FF764E;
    border:0;
    border-radius:10px;
    padding:0 4%;
    text-align:center;
}
.link2{
    display:inline-block;
    width:15%;
    margin:5% 8%;
    background: #5ED3EB;
    border:0;
    border-radius:10px;
    padding:0 4%;
    text-align:center;
}
.link3{
    display:inline-block;
    width:15%;
    margin:5% 8%;
    background: #FFCD69;
    border:0;
    border-radius:10px;
    padding:0 4%;
    text-align:center;
}
.logo{
    display:inline-block;
    width:20%;
    margin:0 2%;
}
.title{
    display:inline-block;
    width:70%;
    margin:0;
    padding:5%;
    vertical-align:top;
}
.logo img{
    border-radius:50%;
}
.title h1{
    text-align:center;
    font-size:5rem;
}
.title p{
    text-align:center;
}
.p2{
    padding:2% 25%;
    line-height:1.5;
}
.info{
    background:#DDB9A3;
    font-size:1.9rem;
    color: white;
    padding:2%;
    text-align:center;
}
.img1 img{
    display:inline-block;
    width:15%;
    margin:5% 43% 2%;
    align-content: center;
}
.img1 p{
    display:inline-block;
    widows: 25%;
    margin:0 30% 0;
    padding:0 5% 0;
    text-align:center;
}
.img2 img{
    display:inline-block;
    width:15%;
    margin:5% 43% 2%;
    align-content: center;
}
.img2 p{
    display:inline-block;
    widows: 25%;
    margin:0 30% 0;
    padding:0 5% 0;
    text-align:center;
}
#nav2 a{
    text-decoration:none;
    color:white;
}
